@media (min-width: 1200px){
    .primaryNav{
        visibility: show;
    }
    
    .secondaryNav{
        visibility: hidden;
    }
}
@media (max-width: 1200px){
    .primaryNav{
        visibility: hidden;
    }
    
    .secondaryNav{
        visibility: show;
    }
}